@model MVCCRUD.Models.SubProducto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SubProducto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreSubProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreSubProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionSubProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionSubProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProductoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProductoNavigation.IdProducto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdSubProducto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
