@model MVCCRUD.Models.Proveedore

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Eliminar Proveedor</h3>
<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RutProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RutProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FonoProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FonoProveedor)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProveedores" />
        <input type="submit"  value="Delete"  class="btn btn-danger"  /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
